{% extends 'store/layouts/main.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="d-flex">
  <div class="pc-bar bg-light p-5">
   <div class="dropdown mb-5">
            <button class="btn btn-dark shadow-none " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Filter  <i class="bi bi-funnel"></i>
            </button>
            <ul class="dropdown-menu  p-3" aria-labelledby="dropdownMenuButton1">
              <li class="d-flex "><a class="dropdown-item " href="arslan"><input type="radio" name="ac" id="">Fashion</a></li>
              <li class="d-flex"><input type="radio" name="ac" id=""><a class="dropdown-item " href="#">Sports</a></li>
              <li class="d-flex"><input type="radio" name="ac" id=""><a class="dropdown-item " href="#">Computers</a></li>
              <hr>
              <div class="d-flex justify-content-between align-items-center">
                <button class="btn btn-dark btn-sm">Clear</button>
                <button class="btn btn-dark btn-sm">Apply</button>
              </div>
            </ul>
           
          </div> 
  </div>
{% for item in category %}
  <div class="col-md-2 container">
    <div class="card">
      <div class="card-body">
        <a href="{% url 'collectionsview' item.slug %}">
         <div class="category-imge ">
          <img src="{{item.imge.url}}" alt="" class="w-100">
         </div>
         
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
  
    
       

        

       
  

  
   <style>
.pc-bar{
  width: 300px;
  height: calc(100vh - 56px);
  /* background-color: red; */
}
.col{

     /* background-color: blue; */
    
     grid-gap: 30px 20px;
     display: grid;
 grid-template-columns: 1fr 1fr 1fr ;
 grid-template-rows: auto auto auto ;
 
    justify-content: space-around;
}
.col-li{
  border: 1px solid black;
}
   </style>
{% endblock body %}